name: Publish NuGet Packages
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'librerie/Utility.Kafka/**'
      - 'microservizi/Ecommerce.Magazzino/Ecommerce.Magazzino.ClientHttp/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x

    # --- BLOCCO 1: KAFKA ---
    - name: Pack Utility.Kafka
      run: dotnet pack librerie/Utility.Kafka/Utility.Kafka.csproj --configuration Release --output out_kafka

    - name: Push Utility.Kafka
      run: |
        dotnet nuget push out_kafka/*.nupkg \
          --source "https://nuget.pkg.github.com/${{ secrets.NUGET_USERNAME }}/index.json" \
          --api-key ${{ secrets.NUGET_TOKEN }} \
          --skip-duplicate

    # --- BLOCCO 2: MAGAZZINO CLIENT (NUOVO) ---
    - name: Pack Magazzino Client
      run: dotnet pack microservizi/Ecommerce.Magazzino/Ecommerce.Magazzino.ClientHttp/Ecommerce.Magazzino.ClientHttp.csproj --configuration Release --output out_client

    - name: Push Magazzino Client
      run: |
        dotnet nuget push out_client/*.nupkg \
          --source "https://nuget.pkg.github.com/${{ secrets.NUGET_USERNAME }}/index.json" \
          --api-key ${{ secrets.NUGET_TOKEN }} \
          --skip-duplicate